//Questions
  //If you are using the download link provided with a file uploaded to storage, to view the file, is that considered a "get" from storage?

//Access
//Pharmacists
  //Their own storage file {userID}
//Pharmacy
  //Their own storage file {userID}


rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{userID}/{allFile=**} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userID;
      allow create: if request.auth != null;
    }
  }
}
